body{
  font-family: Courier New;
  background-color: black;
}
#container
{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(banner.jpeg);
  margin: 10px auto;
}
#calculator
{
  height: 75%;
  width: 25%;
  background-color: #fff;
  margin:0 auto;
  top: 8%;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8),0 6px 20px 0 rgba(0,0,0,0.8);
}
#result
{
  height: 30%;
}
#history
{
  text-align: right;
  height: 16.5%;
  margin: 0 20px;
  padding-top: 20px;
  background-color: white;
  font-size: 15px;
  color: #919191;
}
#output{
  text-align: right;
  height: 50%;
  margin: 10px 20px;
  font-size: 30px;
}
#keyboard
{
  height:70%;
}
.operator,.number,.empty{
  width: 50px;
  height:50px;
  margin: 15px;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-weight: bold;
  font-size: 15px;
}
.number,.empty
{
  background-color: #fff;
}
.number,.operator{
  cursor: pointer;
}
.number:active , .operator:active{
  font-size: 13px;
}
button:nth-child(4){
  font-size: 20px;
  background-color: aqua;
}
button:nth-child(8){
  font-size: 20px;
  background-color: yellow;
}
button:nth-child(12){
  font-size: 20px;
  background-color: crimson;
}
button:nth-child(16){
  font-size: 20px;
  background-color: lightgreen;
}
button:nth-child(20){
  font-size: 20px;
  background-color: red;  
}
@media screen and (max-width: 948px)
{
#calculator
{
  height: 65%;
  width: 45%;
  background-color: #fff;
  margin:0 auto;
  top: 8%;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8),0 6px 20px 0 rgba(0,0,0,0.8);
}
}
@media screen and (max-width: 428px)
{
#calculator
{
  height: 78%;
  width: 95%;
  background-color: #fff;
  margin:0 auto;
  top: 8%;
  bottom: 4%;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8),0 6px 20px 0 rgba(0,0,0,0.8);
}
#container
{
  width: 100%;
  height: 600px;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(banner.jpeg);
  margin: 10px auto;
}
 }
@media screen and (min-width: 1128px) and (max-width:1228px)
{
#calculator
{
  height: 78%;
  width: 25%;
  background-color: #fff;
  margin:0 auto;
  top: 8%;
  bottom: 4%;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8),0 6px 20px 0 rgba(0,0,0,0.8);
}
#container
{
  width: 100%;
  height: 600px;
  background-size: cover;
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(banner.jpeg);
  margin: 10px auto;
}
 }
